.main-container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.container-img-01, .container-img-02, 
.container-img-03, .container-img-04,
.container-img-05, .container-img-06 {
  width: 32%; 
  margin-bottom: 15px;
}

.example-card {
  max-width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

mat-card-header {
  display: flex; 
}

img[mat-card-image] {
  width: 100%;
  height: 250px;
  object-fit: cover;
  flex-shrink: 0;
}

mat-card-content {
  flex-grow: 1;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

mat-card-content > div {
  max-height: 150px; 
  overflow-y: auto; 
  flex-grow: 1;
}

mat-card-content > div > div {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

@media (min-width: 1200px) {
  .container-img-01, .container-img-02, 
  .container-img-03, .container-img-04,
  .container-img-05, .container-img-06 {
    width: calc(33.333% - 10px);
  }
}


@media (max-width: 767px) {
  .container-img-01, .container-img-02, 
  .container-img-03, .container-img-04,
  .container-img-05, .container-img-06 {
    width: 100%;
  }
}


:host {
  display: block;
  height: 200px;
}

.enter-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  font-size: 20px;
}
.enter-animation {
  animation: slide-fade 2s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titlecard {
  display: flex;
  text-align: center;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 5px;
}



mat-card-content p {
  margin: 5px 0;
  font-size: 14px;
}

.submit-button{
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
}