.button-home{
    margin-top: 10px;
    border-radius: 50px;
    margin-bottom: 10px
}

.enter-animation {
  animation: slide-fade 2s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.likes-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.nome-cognome{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 10px;
    margin-left: 0;
    margin-top: 10px
}

.recensioni-cards{
    width: 500px;
    height: 280px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: transform .2s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);

    
}

.recensioni-cards:hover{
  transform: scale(1.1);
}

.recensione-testo{
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-bottom: 20px; 
}

html, body {
  height: 100%;
  margin: 0;
}

.recensione-testo {
  overflow-y: auto;
  max-height: 150px;
}

