.button-home{
    margin-top: 10px;
    border-radius: 50px;
    margin-bottom: 10px
}

.enter-animation {
  animation: slide-fade 2s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.likes-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.chips{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}


.nome-cognome{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 10px;
    margin-left: 0;
    margin-top: 10px
}

.recensioni-cards{
    width: 500px;
    height: 280px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: transform .2s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);

    
}
.riepilogo-ai-content{
  max-width: 45%; 
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  min-height: 150px; 
  overflow-y: auto; 
}

@media (max-width: 992px){
  .riepilogo-ai-content{
  max-width: 60%; 
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  min-height: 150px; 
  overflow-y: auto; 
}


}



.contenuto-ai{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap; 
}

.nome-ristorante{
  font-size:50px;
  font-weight: 44;
  text-align:center; 
  line-height:1.5em; 
  padding-bottom:45px; 
  padding-top: 45px;
  font-family:"Playfair Display", serif; 
  text-transform:uppercase;
  letter-spacing: 2px; 
  color:#111;
    
}
.recensioni-cards:hover{
  transform: scale(1.1);
}

.recensione-testo{
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-bottom: 20px; 
}

html, body {
  height: 100%;
  margin: 0;
}

.recensione-testo {
  overflow-y: auto;
  max-height: 150px;
}

.ai-button{
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  min-width: 150px;
  height: 40px;
  background-color: #ffffff;
  color: rgb(70, 58, 141);
  border: none;
  cursor: pointer;
  transition: transform .2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.ai-button:hover{
  background-color: rgb(88, 42, 88);
  color:white;
  transform: scale(1.1);
}

.stellina-ai{
  fill: currentColor;
}